<%= form_with(model: mtouroku, local: true) do |form| %>
  <% if mtouroku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mtouroku.errors.count, "error") %> prohibited this mtouroku from being saved:</h2>

      <ul>
      <% mtouroku.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ジャンル %>
    <%= form.select :genre_id, Genre.all.map{|b|[b.name,b.id]} %>
  </div>

  <div class="field">
    <%= form.label :メモ %>
    <%= form.text_area :memo, id: :mtouroku_memo, :size=>'80x20' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
