<p id="notice"><%= notice %></p>

<h1>メモ</h1>

<br>

<% gen = Genre.all %>
<ul>
  <% gen.each do |g| %>
    <li><%= link_to g.name,mtourokus_path(:genre_id=>g.id) %></li>
  <% end %>
</ul>

<br>

<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th>メモ</th>
      <th colspan="3"></th> 
    </tr>
  </thead>

  <tbody>
    <% @mtourokus.each do |mtouroku| %>
      <tr> 

        <td>
            <% unless mtouroku.genre.blank? %>
            <%= mtouroku.genre.name %>
            <% end %>
        </td>       

        <td><%= simple_format(h mtouroku.memo) %></td>
        <td><%= link_to '変更', edit_mtouroku_path(mtouroku) %></td>
        <td><%= link_to '削除', mtouroku, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_mtouroku_path %>
<%= link_to 'メモ全ジャンル', 'http://localhost:3000/mtourokus' %>
