<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :プロフィール画像 %>
    <%= form.file_field :imagename, id: :user_imagename %>         
  </div>

  <div class="field">
    <%= form.label :名前 %>
    <%= form.text_field :name, id: :user_name, autocomplete: 'off'  %>
  </div>

  <div class="field">
    <%= form.label :アカウント名 %>
    <%= form.text_field :account, id: :user_account, autocomplete: 'off'  %>
  </div><br>
  
  <div class="field">
    <%= form.label :パスワード %>
    <%= form.password_field :password, id: :user_password, autocomplete: 'off'  %>
    <script>
    function checkPassword(e) {
        pass = document.getElementById("user_password");
        if (e.checked) {
            pass.setAttribute("type", "text");
        } else {
            pass.setAttribute("type", "password");
        }
    }
    </script>
    <input type="checkbox" onclick="checkPassword(this)" />
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>