<p id="notice"><%= notice %></p>

<p>
  <%= image_tag show_image_user_path(@user), :width => 100 %>
</p>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>アカウント名:</strong>
  <%= @user.account %>
</p>

<p>
  <strong>パスワード:</strong>
  <%= @user.password %>

<br>
<br>

<%= link_to '変更', edit_user_path(@user) %> 
<!-- <%= link_to '戻る', users_path %> -->
