<p id="notice"><%= notice %></p>

<p>
  <%= image_tag show_image_user_path(@user), :width => 100 %>
</p>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>アカウント名:</strong>
  <%= @user.account %>
</p>

<%= link_to '変更', edit_user_path(@user) %> |
<<<<<<< HEAD
<%= link_to '戻る', users_path %><br>
<%= link_to 'ホーム(仮)に戻る', home_kari_path %>
=======
<%= link_to '戻る', users_path %>
>>>>>>> 0e829a4aafe9ca4907b6a2672d891948d38852d1
