<h1>通知</h1>
<br>

<% @tsuchi.each do |tsuchi| %>
  <div>

  </div>
<% end %>

<hr>

<div align="right" style="position: absolute; right: 0; top: 323px;">
<%= link_to image_tag('newtouroku.png', class:'logo'), new_stouroku_path %><br>

<% @cd.each do |cd| %>
  <%= link_to image_tag('cd.png', class:'logo'), stourokus_path(genre_id: cd) %><br>
<% end %>

<% @dvd.each do |dvd| %>
  <%= link_to image_tag('dvd.png', class:'logo'), stourokus_path(genre_id: dvd) %><br>
<% end %>

<% @book.each do |book| %>
  <%= link_to image_tag('hon.png', class:'logo'), stourokus_path(genre_id: book) %><br>
<% end %>

<%= link_to image_tag('memo.png', class:'logo'), mtourokus_path %><br>
</div>