<h1>ページ一覧</h1>
<br>
<%= link_to '商品登録', stourokus_path %><br><br>
<%= link_to 'ジャンル', genres_path %><br><br>
<%= link_to 'メモ登録', mtourokus_path %><br><br>
<%= link_to 'ユーザー登録', users_path %><br><br>
<%= link_to '予約', yoyakus_path %><br><br>
<%= link_to 'ジャンルキーワード', genrekeywords_path %>

<div align="right">
<h1><%= link_to image_tag('newtouroku.png', class:'logo'), 'http://localhost:3000/stourokus/new' %></h1>
<h2><%= link_to image_tag('cd.png', class:'logo'), 'http://localhost:3000/stourokus?genre_id=2' %></h2>
<h3><%= link_to image_tag('dvd.png', class:'logo'), 'http://localhost:3000/stourokus?genre_id=3' %></h3>
<h4><%= link_to image_tag('hon.png', class:'logo'), 'http://localhost:3000/stourokus?genre_id=1' %></h4>
<h5><%= link_to image_tag('memo.png', class:'logo'), 'http://localhost:3000/mtourokus' %></h5>
</div>



