<h1>ページ一覧</h1>
<%= link_to '商品登録', stourokus_path %><br><br>
<%= link_to 'ジャンル', genres_path %><br><br>
<%= link_to 'メモ登録', mtourokus_path %><br><br>
<%= link_to 'ユーザー登録', users_path %><br><br>
<%= link_to '予約', yoyakus_path %><br><br>
