<%= form_with(model: stouroku, local: true) do |form| %>
  <% if stouroku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stouroku.errors.count, "error") %> prohibited this stouroku from being saved:</h2>

      <ul>
      <% stouroku.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ジャンル %>
    <%= form.select :genre_id, Genre.all.map{|b|[b.name,b.id]} %>
  </div>

  <div class="field">
    <%= form.label :商品名 %>
    <%= form.text_area :name, id: :stouroku_name %>
  </div>

  <div class="field">
    <%= form.label :人名 %>
    <%= form.text_area :hito, id: :stouroku_hito %>
  </div>

  <div class="field">
    <%= form.label :発売日 %>
    <%= form.date_select :hatsubaiday, id: :stouroku_hatsubaiday %>
  </div>

  <div class="field">
    <%= form.label :予約店舗 %>
    <%= form.text_field :tenpo, id: :stouroku_tenpo %>
  </div>

  <div class="field">
    <%= form.label :金額 %>
    <%= form.number_field :money, id: :stouroku_money %>
  </div>

  <div class="field">
    <%= form.label :特典 %>
    <%= form.text_area :tokuten, id: :stouroku_tokuten %>
  </div>

  <div class="field">
    <%= form.label :ユーザー %>
    <%= form.select :user_id, User.all.map{|u|[u.name,u.id]} %> 
    </div>

  <div class="field">
    <%= form.label :チェック %>
    <%= form.check_box :cd, id: :stouroku_cd %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

