<p id="notice"><%= notice %></p>

<h1>商品一覧</h1>

<br>

<% gen = Genre.all %>
  <ul>
    <% gen.each do |g| %>
      <li><%= link_to g.name,stourokus_path(:genre_id=>g.id) %></li>
    <% end %>
  </ul>

<br>

<h1>未完了</h1>

<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th>商品名</th>
      <th>人名</th>
      <th>発売日</th>
      <th>予約店舗</th>
      <th>金額</th>
      <th>特典</th>
<!--      <th>ユーザー</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stourokus1.each do |stouroku| %>

        <td><%= stouroku.genre.name %></td>  
        <td><%= stouroku.name %></td>
        <td><%= stouroku.hito %></td>

        <% if stouroku.hatsubaiday < Date.today
        namecolor = "red"
       else
        namecolor = "black"
       end
        %>

      <td style = "color : <%= namecolor %>"><%= stouroku.hatsubaiday %></td>

        <td><%= stouroku.tenpo %></td>
        <td><%= stouroku.money %></td>
        <td><%= stouroku.tokuten %></td>
        <td><%= stouroku.user.name %></td>
        <td><%= link_to '詳細', stouroku %></td>
        <td><%= link_to '変更', edit_stouroku_path(stouroku) %></td>
        <td><%= link_to '削除', stouroku, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>      
    <% end %>  
  </tbody>  
</table>

<br>

<h1>予約中</h1>

<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th>商品名</th>
      <th>人名</th>
      <th>発売日</th>
      <th>予約店舗</th>
      <th>金額</th>
      <th>特典</th>
<!--      <th>ユーザー</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stourokus3.each do |stouroku| %>

        <td><%= stouroku.genre.name %></td>  
        <td><%= stouroku.name %></td>
        <td><%= stouroku.hito %></td>

        <% if stouroku.hatsubaiday < Date.today
        namecolor = "red"
       else
        namecolor = "black"
       end
        %>

      <td style = "color : <%= namecolor %>"><%= stouroku.hatsubaiday %></td>

        <td><%= stouroku.tenpo %></td>
        <td><%= stouroku.money %></td>
        <td><%= stouroku.tokuten %></td>
        <td><%= stouroku.user.name %></td>
        <td><%= link_to '詳細', stouroku %></td>
        <td><%= link_to '変更', edit_stouroku_path(stouroku) %></td>
        <td><%= link_to '削除', stouroku, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>      
    <% end %>  
  </tbody>  
</table>

<br>

<h1>完了</h1>

<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th>商品名</th>
      <th>人名</th>
      <th>発売日</th>
      <th>予約店舗</th>
      <th>金額</th>
      <th>特典</th>
<!--  <th>ユーザー</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stourokus2.each do |stouroku| %>
      <tr>
      <% unless @all %>
        <% if Time.now - stouroku.updated_at < 172800 %>

        <td><%= stouroku.genre.name %></td> 
        <td><%= stouroku.name %></td>
        <td><%= stouroku.hito %></td>
        <td><%= stouroku.hatsubaiday %></td>
        <td><%= stouroku.tenpo %></td>
        <td><%= stouroku.money %></td>
        <td><%= stouroku.tokuten %></td>
        <td><%= stouroku.user.name %></td>
        <td><%= link_to '詳細', stouroku %></td>
        <td><%= link_to '変更', edit_stouroku_path(stouroku) %></td>
        <td><%= link_to '削除', stouroku, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>

        <% end %>
      <% else %>

        <td><%= stouroku.genre.name %></td> 
        <td><%= stouroku.name %></td>
        <td><%= stouroku.hito %></td>
        <td><%= stouroku.hatsubaiday %></td>
        <td><%= stouroku.tenpo %></td>
        <td><%= stouroku.money %></td>
        <td><%= stouroku.tokuten %></td>
        <td><%= stouroku.user.name %></td>
      <!--  <td><%= link_to '詳細', stouroku_path(stouroku, :all=>true) %></td> -->
      <!--  <td><%= link_to '変更', edit_stouroku_path(stouroku, :all=>true) %></td> -->
        <td><%= link_to '削除', stouroku_path(stouroku, :all=>true), method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
        
      <% end %>

      </tr>      
    <% end %>  
  </tbody>  
</table>

<br>
<br>

  <button type="button"  class="btn btn-primary" >
  <%= link_to '完了全件ON', stourokus_path(:all=>true) ,:style => 'color:white' %>
</button>

<th>
<button type="button"  class="btn btn-primary" >
<%= link_to '完了全件OFF', stourokus_path ,:style => 'color:white' %>
</button>
</th>

  <br>
  <br>

  <%= link_to '新規登録', new_stouroku_path %>
  <%= link_to '商品全ジャンル',  'http://localhost:3000/stourokus'  %> 