<p id="notice"><%= notice %></p>

<p>
  <strong>Genre id;integer:</strong>
  <%= @stouroku.genre_id;integer %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stouroku.name %>
</p>

<p>
  <strong>Hito:</strong>
  <%= @stouroku.hito %>
</p>

<p>
  <strong>Hatsubaiday:</strong>
  <%= @stouroku.hatsubaiday %>
</p>

<p>
  <strong>Tenpo:</strong>
  <%= @stouroku.tenpo %>
</p>

<p>
  <strong>Money:</strong>
  <%= @stouroku.money %>
</p>

<p>
  <strong>Tokuten:</strong>
  <%= @stouroku.tokuten %>
</p>

<p>
  <strong>User:</strong>
  <%= @stouroku.user_id %>
</p>

<%= link_to 'Edit', edit_stouroku_path(@stouroku) %> |
<%= link_to 'Back', stourokus_path %>
