<p id="notice"><%= notice %></p>

<h1>商品詳細</h1>

<br>

  <% @yoyaku.each do |y| %>
<%
  keyword = ''
  case y.id
    when 1 #amazon
      keyword = @stouroku.genre.keyword_amazon

    when 2 #rakuten
      keyword = @stouroku.genre.keyword_rakuten

  end
%>
    <li><%= link_to y.name,y.url.gsub('@name@',@stouroku.name).gsub('@genre@',keyword) %></li>
  <% end %>
</ul>

 
<br>

<p>
  <strong>ジャンル</strong>
  <%= @stouroku.genre.name %>
</p>

<p>
  <strong>商品名</strong>
  <%= @stouroku.name %>
</p>

<p>
  <strong>人名</strong>
  <%= @stouroku.hito %>
</p>

<p>
  <strong>発売日</strong>
  <%= @stouroku.hatsubaiday %>
</p>

<p>
  <strong>予約店舗</strong>
  <%= @stouroku.tenpo %>
</p>

<p>
  <strong>金額</strong>
  <%= @stouroku.money %>
</p>

<p>
  <strong>特典</strong>
  <%= @stouroku.tokuten  %>
</p>

<!-- <p>
  <strong>ユーザー</strong>
  <%= @stouroku.user.name %>
</p> -->

<br>

<%= link_to '新規登録', new_stouroku_path %>
<%= link_to '戻る',  'http://localhost:3000/stourokus'  %> 
