<!DOCTYPE html>
<html>
  <head>
    <title>Chroma123</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @usr.present? %>
      <%= @usr.name %>
      <div align="right"><%= link_to 'ログオフ', login_logoff_path %></div><br>      
    <% end %>  
    <%= yield %>
  </body>

  <br>
  <br>
  <br>
  <%= link_to 'ホーム(仮)に戻る', home_kari_path %>
  

</html>
