<!DOCTYPE html>
<html>
  <head>
    <title>Chroma</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>  

  <body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">  
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><font face="Snap ITC" font size=10><font color="red">C</font><font color="#9932cc">h</font><font color="blue">r</font><font color="green">o</font><font color="yellow">m</font><font color="orange">a</font></font></a>
    </div>
    <!-- <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/ideas">Ideas</a></li>
      </ul>
    </div> --!>
  </div>
</nav>
    <% if @usr.present? %>
      <%= @usr.name %>
      <div align="right"><%= link_to 'ログオフ', login_logoff_path %></div><br>      
    <% end %> 
    <div class="container"> 
      <%= yield %>
    </div>
    <br>
    <br>
    <%= link_to 'ホーム(仮)に戻る', home_kari_path %>
    <footer>
    <div class="container">
      Rails Girls 2017
    </div>
  </footer>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>

</html>
